:root {
    /* BASE E NEUTRI */
    --color-base-chiaro: #E0D9C8;     /* Beige Cachemire (Sfondo Caldo) */
    --color-testo-scuro: #2A2A2A;     /* Antracite Profondo (Testo Principale) */
    
    /* TONI CALDI E TERRENI */
    --color-primario-caldo: #8B4513;  /* Marrone Intenso (Forza/Struttura) */
    --color-accento-oro: #D4AF37;     /* Oro Metallico (Lusso/Dettagli) */

    /* TONI DI ACCENTO E CONTRASTO */
    --color-accento-ricco: #8B1A21;   /* Rosso Borgogna (Passione/Tradizione) */
    --color-acqua-profonda: #144062;  /* Blu Reale (Stabilità/Profondità) */
}